@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using RESTfull.Domain.DTO

<h3>Добавить аудиторию</h3>

<form @onsubmit="AddAudience">
    <input @bind="number" placeholder="номер аудитории" />
    <input @bind="empID" placeholder="ID сотрудника" />
    <input @bind="type" placeholder="тип аудитории" />
    <input @bind="workNum" placeholder="кол-во мест" />
    <button type="submit">Добавить</button>
</form>

@code {
    private string number;
    private string empID;
    private string type;
    private string workNum;

    [Parameter]
    public EventCallback<string> OnAddAudience { get; set; }

    private async Task AddAudience()
    {
        AudienceDTO audienceInfo = new()
        {       
                AudienceNumber = int.Parse(number),
                EmployeeId = new Guid(empID),
                AudienceType = type,
                WorkplaceNum = int.Parse(workNum)
        };
        await Http.PostAsJsonAsync("https://localhost:7172/api/Audience", audienceInfo);
        number = string.Empty;
        empID = string.Empty;
        type = string.Empty;
        workNum = string.Empty;
        await OnAddAudience.InvokeAsync("OK");
    }
}